<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Saydaleyety</title>
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	
  	 <link rel='stylesheet' href='/fonts/glyphicons-halflings-regular.eot' />
  	 <link rel='stylesheet' href='/fonts/glyphicons-halflings-regular.svg' />
  	 <link rel='stylesheet' href='/fonts/glyphicons-halflings-regular.ttf' />
  	 <link rel='stylesheet' href='/fonts/glyphicons-halflings-regular.woff' />
  	 <link rel='stylesheet' href='/fonts/glyphicons-halflings-regular.woff2' />
  	<link rel='stylesheet' href='/stylesheets/w3/w3.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap-theme.css '/>
    <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap-theme.min.css' />
     <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.css' />
     <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.min.css' />
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script type="text/javascript" src="/scripts/jQuery/jquery.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap/npm.js"></script>
 
  </head>
  

  <body class="w3-light-grey">
  
  <!-- Navigation Bar -->
  
<div class="w3-top">
  <div class="w3-bar w3-dark-grey w3-card w3-opacity " style="width:100%">
    <label class="w3-bar-item w3-button w3-padding-large w3-medium ">Saydleyety</label>
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-medium  w3-hover-opacity-off ">Home</a>
    <a href="" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-medium   w3-right w3-hover-opacity-off ">Login</a>
    <a href="" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-medium   w3-right w3-hover-opacity-off "><span class="glyphicon glyphicon-user"></span> SignUp</a>    
    </div>
 </div>
<!-- End Navigation Bar -->


<!-- Search Engine -->
<div class="w3-container w3-light-grey ">
<br>
<br>
<br> 

<form class="form-inline w3-center">
    <input type="text" class="form-control"  style="width:40%" placeholder="Search" name="search">
    <button  class="w3-btn w3-round w3-blue-grey">Search</button>
    <a href="#" class="w3-btn w3-blue-grey w3-round w3-right ">
	<span class=" glyphicon glyphicon-shopping-cart"></span> My Shopping Cart </a>
</form>
<br>       
</div>

<!-- End of Search Engine -->



<!-- Image -->
	<div class="w3-display-container ">
    <img src="/images/pharmacy.jpg"  style="width:100%">
    <div class="w3-display-topleft w3-text-dark-grey" style="padding:350px 48px">
      <h1 class="w3-jumbo w3-hide-small">Order Now</h1>
      <p><a href="#" class="w3-btn w3-round w3-red w3-padding-large w3-large">SHOP NOW</a></p>
     </div> 
    </div>
<!--End of Image -->

<!-- Contact Us -->
  <div class="w3-container w3-light-grey w3-card ">
      <h2 class= " w3-text-dark-grey ">Contact Us</h2>
    </div>
<!-- End of Contact Us -->

 
</body>
</html>